.project-bg {
    padding: 151px 0px 0px 0px;
}





.project-github-icon {
    scale: 2.3;
    cursor: pointer;
}
.project-arrow-icon {
    background-color: var(--primary-color);
    border-radius: 50%;
    margin: 7px;
    transform: scale(2.3);
    padding: 4px;
    color: var(--forth-color);
    cursor: pointer;
}
.project-arrow-icon:hover {
    background-color: var(--fifth-color);
}