/* The Sun */
/* .name {
    display: inline-flex;
    align-items: center;
    background: radial-gradient(circle at 70%, #FF4E00, #EC9F05 100%, #FF4E00 90%);
    height: 200px;
    width: 200px;
    border-radius: 50%;
    padding-left: 5px;
    letter-spacing: 2px;
} */
/* Don't touch the top .name class */
.home-bg {
    grid-area: content;
    background-color: #f8f8f8;
    margin-top: 4.7rem;
}
/* MOBILE SCREEN */
.home {
    margin-top: 1.2rem;
}
.right-home {
    grid-column: 1 / 9;
    display: flex;
    justify-content: center;
}
.right-home > img {
    width: min(100%, 400px);
    max-height: 400px;
}
.left-home {
    grid-column: 1 / 9;
    text-align: center;
}
.l-h-top {
    margin-top: 1rem;
}
.l-h-top > h1 {
    font-size: clamp(2rem, 2rem + 5vw, 5rem);    
}
.l-h-top > h2 {
    font-size: clamp(2rem, 1.5rem + 2vw, 3.4rem);
    font-weight: 600;
}
.front-end {
    color: var(--secondary-color);
    font-style: italic;
}

.l-h-middle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    /* justify-content: space-between; */
    margin: 1rem 0px 1.7rem 0px;
}
.home-skill {
    display: flex;
    align-items: center;
    gap: 3px;
}
.l-h-middle img {
    height: 27px;
}

.home-btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}
.home-btns button:last-of-type {
    display: flex;
    align-items: center;
    gap: 11px;
}
.download-icon {
    color: var(--secondary-color);
}
.home-description {
    line-height: 1.9;    
}

/* TECH SECTION */
.techs-bg {
    background-color: var(--primary-color);
    min-height: 213px;
    /* clip-path: polygon(0% 35.13%, 0% 21%, 59% 21%, 63% 0%, 100% 0%, 100% 100%, 0% 100%); */
    margin: 4.7rem 0rem;
    padding: 2rem 0px;
}
.techs {
    display: flex;
    flex-direction: column;
}
.tech-heading {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
    border-bottom: 2px solid var(--forth-color);
    padding: 1rem;
}
.tech-heading h5 {
    color: var(--forth-color);
    font-size: 2rem;
}

.tech-skill {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 37px;
}
.tech-skill img {
    display: flex;
    width: 31px;
}
.tech-card {
    width: 91px;
    height: 91px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 11px 21px;
    background-color: var(--forth-color);
    box-shadow: 4px 4px 0px 0px var(--secondary-color);
    margin: 10px;
    cursor: pointer;
}
.tech-card:hover {
    box-shadow: 4px 4px 0px 0px var(--fifth-color);
    transition: 0.1s ease-in;
}


/* MEDIA QUERY */
@media (min-width: 600px) {
    .home-btns {
        flex-direction: row;
        gap: 3rem;
    }
}

@media (min-width: 960px) {
    .home {
        margin-top: 4.7rem;
    }
    .right-home {
        grid-column: 5 / 9;
        justify-content: flex-end;
    }
    .left-home {
        grid-column: 1 / 5;
        grid-row: 1;
        text-align: left;
    }
    
    .l-h-middle {
        justify-content: flex-start;
        gap: 3rem;
    }
    .home-btns {
        justify-content: flex-start;
        gap: 3rem;
    }
}

@media (min-width: 1400px) {
    .techs-bg {
         clip-path: polygon(0% 35.13%, 0% 21%, 59% 21%, 63% 0%, 100% 0%, 100% 100%, 0% 100%);
         margin: 2rem 0px 0px 0px;
    }
    .techs {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding-top: 3rem;
        gap: 3rem;
        margin: 3rem 0px;
    }
    .tech-heading {
        margin-bottom: 0rem;
        border-right: 2px solid var(--forth-color);
        border-bottom: none;
    }
    .tech-heading h5 {
        font-size: 1.7rem;
    }
    .tech-skill img {
        display: flex;
        width: 31px;
    }
    .tech-card {
        width: 81px;
        height: 81px;
        margin: 5px;
    }    
  
}