/* The Sun */
/* .name {
    display: inline-flex;
    align-items: center;
    background: radial-gradient(circle at 70%, #FF4E00, #EC9F05 100%, #FF4E00 90%);
    height: 200px;
    width: 200px;
    border-radius: 50%;
    padding-left: 5px;
    letter-spacing: 2px;
} */
/* Don't touch the top .name class */
.home {
    grid-area: content;
}









