/* The Sun */
/* .name {
    display: inline-flex;
    align-items: center;
    background: radial-gradient(circle at 70%, #FF4E00, #EC9F05 100%, #FF4E00 90%);
    height: 200px;
    width: 200px;
    border-radius: 50%;
    padding-left: 5px;
    letter-spacing: 2px;
} */
/* Don't touch the top .name class */
.home {
    grid-area: content;
}
.app {
    position: relative;
}

/* DESKTOP FIRST */
.main-home { 
    margin-top: 51px;
}
.left-home {
    grid-column: 1 / 6;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.l-h-top h1 {
    font-size: 6rem;
    letter-spacing: 2px;
}
.l-h-top h2 {
    font-size: 3.7rem;
}
.front-end {  
    color: var(--secondary-color);
}
.l-h-middle {
    display: flex;
    align-items: center;
    gap: 23px;
    margin: 2.7rem 0px 2rem 0px;
}
.home-skill {
    align-items: center;
    font-size: 1.3rem;
    gap: 3px;
}
.l-h-middle img {
    max-width: 37px;
    height: 27px;
}
.home-btns {
    display: flex;
    gap: 73px;
    margin-top: 37px;
    padding: 7px 0px;
}
.home-description {
    max-width: 71%;
    line-height: 1.9;    
}
.right-home {
    display: flex;
    position: absolute;
    right: 21px;
    top: 91px;
    z-index: 0;
}

.techs-bg {
    grid-column: 1 / 9;
    grid-row: 2;
    background-color: var(--primary-color);
    margin-top: 117px;
    min-height: 213px;
    clip-path: polygon(0% 35.13%, 0% 25%, 55.44% 25%, 62.9% 0%, 100% 0%, 100% 100%, 0% 100%);
    display: flex;
    align-items: center;
}
.techs > h4 {
    color: var(--forth-color);
}