.contact-bg {
    background-image: url('../../assets/images/dark-bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 437px;
    margin-top: 3rem;
}

.contact {
    margin: 111px 0px;
}
.contact-top {
    grid-column: 3 / 9;
}
.contact-top > h3 {
    color: var(--secondary-color);    
    font-size: 1.5rem;
}
.contact-top > p {
    font-size: 1.3rem;
    padding-top: 0.4em;
    color: var(--primary-color);
    font-weight: 500;
}
.contact-bottom {
    grid-column: 3 / 9;
    display: flex;
    gap: 7rem;
    margin-top: 2.3rem;
}
.c-b-left {
    display: flex;
    align-items: center;
    gap: 1rem;
}
.c-b-l-items {
    font-size: 1.2rem;
    line-height: 1.5;
}
.c-b-l-items > h3 {
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.c-b-icon {
    background-color: var(--forth-color);
    padding: 1.9rem;
    border-radius: 50%;
    display: flex;
    color: var(--secondary-color);
    box-shadow: 0px 0px 4px 5px var(--third-color);
    margin: 0.3rem;
}
.contact-icon {
    transform: scale(2);
}