nav {
    grid-area: navbar;
    padding: 17px 0px;
    margin-bottom: 27px;
}

/* MOBILE SCREEN */
.nav.logo {
    grid-column: 1 / 4;
    padding-bottom: 13px;
}
.logo > img {
    width: min(80%, 117px);
}

.a-a {
    color: cadetblue;
}

.nav-ul, .nav-sign {
    display: none;
}

.nav-sign {
    padding: 5px 0px;
}

/* MenuIcon */
.menu-icon {
    display: block;
    grid-column: 8 / 9;
    cursor: pointer;
}
.nav-ul.active, 
.nav-sign.active {
    position: fixed;
    top: 97px;
    left: 0;
    bottom: 0;
    z-index: 9999;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 33px;
    width: 100%;
    background-color: var(--third-color);
    font-size: 1.3rem;
    font-weight: 700;
    padding-top: 73px;
}
.nav-sign.active {
    top: 373px;
    max-height: 87px;
    padding-top: 0px;
}
.menu-icon.active .MuiSvgIcon-root {
    display: none;
}
.menu-icon.active::before {
    content: 'X';
    font-size: 1.4rem;
    display: block;
}

@media (min-width: 960px) {
    
    .menu-icon {
        display: none;
    }
    .nav-logo {
        grid-column: 1 / 3;
    }
    .nav-ul, .nav-sign {
        display: block;
    }
    .nav-ul {
        grid-column: 4 / 7;
        column-gap: 31px;
        display: flex;
        align-items: center;
        font-size: 1.1rem;
    }
    .nav-ul a {
        color: var(--secondary-text);
    }
    .nav-sign {
        grid-column: 7 / 9;
    }
  
}

@media (min-width: 1280px) {
    .nav-ul {
        grid-column: 3 / 7;
        font-size: 1.3rem;
        justify-content: center;
        gap: 77px;
    }
    .nav-sign {
        grid-column: 7 / 9;
        display: flex;
        justify-content: flex-end;
        padding-right: 0.7rem;
    }
}





























