nav {
    grid-area: navbar;
    padding: 17px 0px;
    margin-bottom: 27px;
}

/* MOBILE SCREEN */
.nav.logo {
    grid-column: 1 / 4;
    padding-bottom: 13px;
}
.logo > img {
    width: min(80%, 117px);
}

.nav-ul a {
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--primary-color);
    cursor: pointer;
}
.nav-ul a:hover {
    color: var(--secondary-color);
    transition: 0.2s;
}



























